html,body,#root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.main_wrapper{
    width: 90vw;
    height: 100vh;
    margin: 0 auto;
}

.loader{
  height: 250px;
  width: 250px;
  grid-column: 2;
  align-self: center;
}
.loader section{
    border: 3px solid transparent;
    border-top-color: black;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    margin: 0 auto;
   
    animation: spin 1.5s forwards infinite;
}
.loader section section{
    border: 3px solid transparent;
    border-top-color: black;
    border-radius: 100%;
    height: 90px;
    width: 90px;
    margin: 2px;
    animation: spintwo 1.5s forwards infinite;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform:rotate(360deg)
    }
}
@keyframes spintwo{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* ==========================
Form Component
============================= */
.form_wrapper{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form_wrapper div:nth-child(1){
    border: 1px solid #BDBDBD;
    width: fit-content;
    padding:10px 20px
}
.form_wrapper div:nth-child(1) i{
 color: #BDBDBD;
 font-weight: 200;

}
.form_wrapper input{
    border: none;
    width: 200px;
    outline: none;
}
.form_wrapper select{
    border: 1px solid #BDBDBD
}
.form_wrapper label{
    color: #BDBDBD;
    font-size: small;
}
.form_wrapper div:nth-child(2){
    display: flex;
    column-gap: 20px;
}
.form_wrapper div:nth-child(2) span{
    display: flex;
    flex-direction: column;
}
.form_wrapper div:nth-child(2) span:nth-child(1){
    align-self: center;
    color: #BDBDBD
}
.form_wrapper select{
    padding:5px 10px;
    outline: none;
}
/* ==========================
Template Component
============================= */
.template_wrapper{
    height: 70vh;
    display: grid;
    grid-template-rows: auto auto 1fr;
}
.templateInfo{
    padding: 10px;
    display: flex;
    background-color: #FFF4EA;
    margin: 30px 0px;
    height: fit-content;
}
.templateInfo span{
    margin: 0 auto;
    font-size: small;
}
.templateInfo i{
    margin-right:15px;
    border: 1px solid #FC830A;
    padding: 4px 8px;
    border-radius: 100%;
    color: #FC830A;
}
.templateCount{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    font-size: small;
    height: fit-content;
}
.templateCard{
    gap: 50px;
    overflow: scroll;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}
.templateCard div {
    background: white;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.templateCard div h2{
    font-weight: 600;
    margin: 20px 0px;
    padding: 0px 20px;
}
.templateCard div p{
    font-size: small;
    padding: 0px 20px;
    margin: 20px 0px;
    flex-grow: 1;
}
.templateCard div a{
    text-decoration: none;
    background-color: #F9F9F9;
    color:#08BD37;
    padding: 10px 20px;
    display: flex;
    cursor: pointer;
}
/* ==========================
Pagination Component
============================= */
.pagination_wrapper{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    margin: 0px 70px;
    align-items: center;
}
.pagination_wrapper button{
    background: none;
    border: none;
    font-size: medium;
}
.pagination_wrapper span{
    margin: 0px 20px;
}
.pagination_wrapper span:nth-child(1){
    border: 1px solid;
    padding: 5px 10px;
}
/* ==========================
Media query
============================= */
@media (max-width:700px){
    .form_wrapper{
        flex-direction: column;
        margin:20px 0px
    }
    .form_wrapper div:nth-child(2){
        width: 90vw;
        overflow: scroll;
    }
    .template_wrapper{
        height: 70vh;
    }
    .templateCard div{
        margin: 0px 15px;
    }
    .templateInfo{
        margin: 0;
    }
    .templateInfo span{
        font-size: x-small;
    }
    .pagination_wrapper{
        margin: 0;
    }
}
@media (max-width:800px){
    .form_wrapper{
        flex-direction: column;
        margin:20px 0px
    }
}